#edit-form {
    border: #222222 2px solid;
}

.input-wrapper {
    border-bottom: lightgray 1px solid;
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin: 0 15px;
    padding: 10px 0;
}

.input-wrapper input {
    border: none;
    font-size: 28px;
    height: 35px;
}

.edit-plan-time {
  border: none;
  width: 50px;
}

#new-event-input {
  width: 100%;
}

.switch {
  display: inline-block;
  height: 34px;
  outline: red;
  position: relative;
  width: 55px;
  }
  
.edit-plan-time {
  font-size: 20px;
}

.submit-btn {
  align-self: flex-end;
  border: solid 2px #222222;
  background-color: white;
  font-size: 20px;
  /* height: 35px; */
  padding: 5px 10px;
  margin: 15px;
}





.switch {
  border-radius: 34px;
  position: relative;
  display: inline-block;
  /* padding: 3px 3px; */
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  border: #2196F3 solid 2px;
}